<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <title>Test Case</title>
    <script src="{% static '/js/jquery.min.js' %}"></script>
    <script src="{% static '/js/vue.min.js' %}"></script>
</head>
<style>
.class1{
  background: #444;
  color: #eee;
}
</style>
<body>
{% verbatim myblock %}
<div id="app">
    {{ 5+5 }}<br>
    {{ ok? 'YES' : 'NO'}}<br>
    {{ message }}
    {{number}}
    <div v-bind:id="'list_' + id">菜鸟教程</div>
    <p v-if="run">你看到我了</p>
    <a v-bind:href="url">百度</a>
    <button v-on:click="add">点击</button>
    <input v-model="message">
    <button v-on:click="reverseMessage">反向</button>
    <template v-if="ok">
        <h1>菜鸟教程</h1>
        <p>学的不仅是技术，更是梦想！</p>
        <p>哈哈哈，打字辛苦啊！！！</p>
    </template>
    <div v-if="Math.random() >0.5">
        Sorry
    </div>
    <div v-else>
        Not Sorry
    </div>
     <!--<label for="r1">修改颜色</label><input id="r1" type="checkbox" v-model="class1">-->
  <!--<br><br>-->
  <!--<div v-bind:class="{'class1': class1}">-->
    <!--v-bind:class 指令-->
  <!--</div>-->
  <!--<p>{{ message }}</p>-->
    <!--{{number}}-->
    <!--<button @click="add">add</button>-->
</div>
{% endverbatim myblock %}
<script>
    new Vue({
    el: '#app',
    data: {
        ok: true,
        message: 'RUNOOB',
        id: 1,
        run: true,
        url:"http://www.baidu.com",
        number:11,
        type:'C'

    },
    methods: {
        add: function(){
        this.number = this.number + 1
        },
        reverseMessage:function () {
            this.message=this.message.split('').reverse().join('')
        }
    }
})
// document.write(vu.$data === data)
// document.write(vu.$data.message)
// document.write("<br>")
// document.write(vu.$el)
</script>

</body>
</html>