<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <title>Test Case</title>
    <script src="{% static '/js/jquery.min.js' %}"></script>
    <script src="{% static '/js/vue.min.js' %}"></script>
</head>
<style>
.class1{
  background: #444;
  color: #eee;
}
</style>
<input>
{% verbatim myblock %}
<div id="app">
    {{ 5+5 }}<br>
    {{ ok? 'YES' : 'NO'}}<br>
    {{ message }}
    {{number}}
    <div :id="'list_' + id">菜鸟教程</div>
    <p v-if="run">你看到我了</p>
    <a :href="url">百度</a>
    <button @click="add">点击</button>
    <input v-model="message">
    <button @click="reverseMessage">反向</button>
    <template v-if="ok">
        <h1>菜鸟教程</h1>
        <p>学的不仅是技术，更是梦想！</p>
        <p>哈哈哈，打字辛苦啊！！！</p>
    </template>
    <div v-if="Math.random() >0.5">
        Sorry
    </div>
    <div v-else>
        Not Sorry
    </div>
    <br>
    <p>你爱吃的水果:</p>
    <div>
        <li v-for="(item, index) in fruits">{{ index }}-{{ item.fruit }}</li>
    </div>
    <input id="add_fruite" v-model="finfo">
    <button @click="addf">增加水果</button>
    <div>
        firstName:{{firstName}} <br>
        <input v-model="firstName"><br>
        lastName:{{LastName}}<br>
        <input v-model="LastName"><br>
        fullName:{{fullName}}<br>
        fullname2:{{fullname2()}}<br>
        fullNameWatch:{{fullNameWatch}}
    </div>
------------------------------------
    <p>单个复选框</p>
    <input type="checkbox" id="checkbox1" v-model="checked">
    <label for="checkbox1">{{checked}}</label>
     <p>多个复选框：</p>
  <input type="checkbox" id="runoob" value="Runoob" v-model="checkedNames">
  <label for="runoob">Runoob</label>
  <input type="checkbox" id="google" value="Google" v-model="checkedNames">
  <label for="google">Google</label>
  <input type="checkbox" id="taobao" value="Taobao" v-model="checkedNames">
  <label for="taobao">taobao</label>
  <br>
  <span>选择的值为: {{ checkedNames }}</span><br>
  --------------------------------------<br>
    单选按钮<br>
    <input type="radio" id="runoob1" value="Runoob" v-model="picked">
  <label for="runoob">Runoob</label>
  <br>
  <input type="radio" id="google1" value="Google" v-model="picked">
  <label for="google">Google</label>
  <br>
  <span>选中值为: {{ picked }}</span>
    <br>
    ---------------------------<br>
    <select v-model="selected" name="fruit">
    <option value="">选择一个网站</option>
    <option value="www.runoob.com">Runoob</option>
    <option value="www.google.com">Google</option>
  </select>

  <div id="output">
      选择的网站是: {{selected}}
  </div>
    ------------------------------------<br>
     fetch<br>
    发送:{{ inputStr }}<br>
    <input v-model="inputStr"><button @click="send">发送</button><br>
    返回：{{ returnStr }}<br>
    <input v-model="returnStr"><br>

--------全局注册-------------<br>
    <soffee></soffee>
    -------------局部注册----<br>
    <shu></shu>
</div>

{% endverbatim myblock %}
<script>
    //全局register
    Vue.component('soffee',{
        template: '<h1>soffee自定义全局注册组件</h1>'
    })

    //局部注册组件
    var Child = {
        template: '<h1>shu局部注册组件</h1>'
    }
    vm=new Vue({
    el: '#app',
    data: {
        ok: true,
        message: 'RUNOOB',
        id: 1,
        run: true,
        url:"http://www.baidu.com",
        number:11,
        type:'C',
        fruits:[{"fruit":"apple"},{"fruit":"orange"},{"fruit":"banana"}],
        finfo:"",
        firstName:"Alice",
        LastName:"wang",
        fullNameWatch:"",
        checked:true,
        checkedNames:[],
        picked:'Google',
        selected:"",
        inputStr: '',
        returnStr: ''
    },
        components:{
        'shu':Child
        },
    methods: {
        add: function(){
        this.number = this.number + 1
        },
        addf: function(){
            this.fruits.push({"fruit":this.finfo})
        },
        reverseMessage:function () {
            this.message=this.message.split('').reverse().join('')
        },
        fullname2:function () {
            return this.firstName+this.LastName

        },
        send:function () {
             var x = this;
            $.ajax({
                url: '/mypro/do/',
                type: 'post',
                data: {"val": this.inputStr},
                success: function (ret) {
                    console.log(ret)
                    x.returnStr = ret;
                    console.log(vm.returnStr)
                },
                error: function (ret) {
                    console.log(ret.status)
                }
            })
        }
    },
    computed:{
        fullName:function(){
            return this.firstName+this.LastName
        }
    },
     watch:{
        firstName:function (val) {
            this.fullNameWatch=val+this.LastName

        },
        LastName: function (val) {
            this.fullNameWatch=this.firstName+val

        }
     }
})
// document.write(vu.$data === data)
// document.write(vu.$data.message)
// document.write("<br>")
// document.write(vu.$el)
</script>

</body>
</html>