<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    {% load staticfiles %}


    <!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
     <style>
        #app{
            width: 500px;
            margin: 0 auto;
        }
    </style>
<!-- 引入组件库 -->

    <!-- import Vue before Element -->
  <script src="{% static '/js/vue.min.js' %}"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
     <script src="{% static '/js/jquery.min.js' %}"></script>

<head>
   <title>Login</title>
</head>

<body>
{% verbatim myblock %}

<div id="app">
    <h1 class="head1">Login</h1>
<el-form :model="LoginForm" :rules="rules" ref="LoginForm" label-width="100px" class="demo-ruleForm">
  <el-form-item label="username" prop="username">
    <el-input v-model="LoginForm.username" placeholder="请输入用户名"></el-input>
  </el-form-item>
     <el-form-item label="password" prop="password">
    <el-input type="password" v-model="LoginForm.password" placeholder="请输入密码"></el-input>
  </el-form-item>
  <el-form-item>
    <el-button type="primary" @click="submitForm">登录</el-button>
  </el-form-item>
</el-form>
</div>
{% endverbatim myblock %}

<script>
    new Vue({
        el:'#app',
        data:{
                LoginForm: {
                    username: '',
                    password: '',
                },
                rules: {
                    username: [
                        {required: true, message: '请输入用户名', trigger: 'blur'},
                        {min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur'}
                    ],
                    password: [
                        {required: true, message: '请输入密码', trigger: 'change'},
                        {min: 3, max: 5, message: '长度在 3 到 22 个字符', trigger: 'change'}
                    ]
                }
        },
        methods: {
           submitForm:function() {
             console.log("submit");
            $.ajax({
                url: '/mypro/submit/',
                type: 'post',
                data: {"userinfo":JSON.stringify(this.LoginForm)},
                success: function (ret) {
                    console.log(ret)
                    if(ret.message=="success"){
                        alert("登录成功")
                    }
                    else{
                        alert("登录失败")
                    }

                },
                error: function (ret) {
                    console.log(ret)
                }
            })
            }
       }
    })
// document.write(vu.$data === data)
// document.write(vu.$data.message)
// document.write("<br>")
// document.write(vu.$el)
</script>

</body>
</html>