<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <title>Hello</title>
    <script src="{% static '/js/jquery.min.js' %}"></script>
    <script src="{% static '/js/vue.min.js' %}"></script>
</head>

{% verbatim myblock %}
<div id="app">
    新增水果：<input v-model="addfruit"><button @click="add">增加</button><br>
    水果超市:<br>
    <div>
        <li v-for="(item, index) in fruits">{{ index }}-{{ item }}</li>
    </div>
    你爱吃的水果:<input type="text" v-model="se" placeholder="search"><br>
    <input type="radio" id="radio1" value="顺序" v-model="picked" @click="reverseMessage">
    <label for="radio1">顺序</label>
    <input type="radio" id="radio2" value="倒序" v-model="picked" @click="reverseMessage">
    <label for="radio2">倒序</label>
  <br>
    <div v-for="fruit in searchFruits">{{ fruit }}</div>

</div>

{% endverbatim myblock %}
<script>
    vm=new Vue({
    el: '#app',
    data: {
        fruits:["apple","orange","fruit","banana","lemon","grape"],
        addfruit:"",
        se:'',
        picked:"顺序",
    },
    methods: {
        add: function(){
        this.fruits.push(this.addfruit)
        },
        addf: function(){
            this.fruits.push({"fruit":this.finfo})
        },
        reverseMessage:function () {
            this.se=this.se.split('').reverse().join('')
        },
        send:function () {
            $.ajax({
                url: '/mypro/do/',
                type: 'post',
                data: {"val": this.inputStr},
                success: function (ret) {
                    console.log(ret)
                    vm.returnStr=ret
                    console.log(vm.returnStr)
                },
                error: function (ret) {
                    console.log(ret.status)
                }
            })
        }
    },
    computed: {
        searchFruits: function () {
            var se = this.se;
            var lastF = [];
            if (se) {
                for (var i = 0; i < this.fruits.length; i++) {
                    if (this.fruits[i].search(se)!=-1) {
                        lastF.push(this.fruits[i]);
                    }
                }
                console.log(lastF)
                return lastF
            }
        }
    },
     watch:{
     }
})
// document.write(vu.$data === data)
// document.write(vu.$data.message)
// document.write("<br>")
// document.write(vu.$el)
</script>

</body>
</html>